pool:
  name: Tuan     # hoáº·c MyAgentPool
  demands: Agent.Name -equals Tuan

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: npm install
  displayName: 'Install dependencies'

- script: npm run build
  displayName: 'Build project'
